---
import { getAllPosts, sortPostByDate } from '@/data/posts';
import GridSection from '@/components/GridSection.astro';
import PostGrid from '@/components/PostGrid.astro';
import LinkButton from '@/components/LinkButton.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { PAGE_SIZE } from '@/config';

export async function getStaticPaths({ paginate }) {
    const posts = await getAllPosts();
    const sortedPosts = sortPostByDate(posts);
    // Generate pages from our array of astronauts, with 2 to a page
    return paginate(sortedPosts, { pageSize: PAGE_SIZE });
}
// All paginated data is passed on the "page" prop
const { page } = Astro.props;

console.log(page);
---

<BaseLayout meta={{ title: 'About' }}>
    <div class="mx-auto max-w-3xl">
        <GridSection title="Recent Posts">
            <PostGrid posts={page.data} />
            <div class="pt-6 text-center">
                <LinkButton
                    disabled={!page.url.prev}
                    url={page.currentPage === 2 ? '/blog' : page.url.prev}
                    label="Previous page"
                />
                <LinkButton
                    disabled={!page.url.next}
                    url={page.url.next}
                    label="Next page"
                />
            </div>
        </GridSection>
    </div>
</BaseLayout>
