---
import BaseLayout from '@/layouts/BaseLayout.astro';
import Text from '@/components/Text.astro';

import { getAllPosts } from '@/data/posts';

const allPosts = await getAllPosts();

console.log(allPosts);
---

<BaseLayout meta={{ title: 'About' }}>
    <div class="mx-auto max-w-3xl">
        <Text>All Posts ({allPosts.length})</Text>
        {
            allPosts.map((post) => (
                <Text>
                    <a href={`/blog/${post.slug}`}>{post.data.title}</a>
                </Text>
            ))
        }
    </div>
</BaseLayout>
