@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Rec Mono Semicasual';
        src:
            local('Rec Mono Semicasual Bold'),
            local('RecMonoSemicasual-Bold'),
            url('/fonts/RecMonoSemicasual-Bold.woff2') format('woff2');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Rec Mono Semicasual';
        src:
            local('Rec Mono Semicasual'),
            local('RecMonoSemicasual-Regular'),
            url('/fonts/RecMonoSemicasual-Regular.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Rec Mono Semicasual';
        src:
            local('Rec Mono Semicasual Bold Italic'),
            local('RecMonoSemicasual-BoldItalic'),
            url('/fonts/RecMonoSemicasual-BoldItalic.woff2') format('woff2');
        font-weight: bold;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: 'Rec Mono Semicasual';
        src:
            local('Rec Mono Semicasual Italic'),
            local('RecMonoSemicasual-Italic'),
            url('/fonts/RecMonoSemicasual-Italic.woff2') format('woff2');
        font-weight: normal;
        font-style: italic;
        font-display: swap;
    }

    :root,
    :root[data-theme='light'] {
        color-scheme: light;
        --theme-bg-0: 244 244 245;
        --theme-bg-1: 212 212 216;
        --theme-bg-2: 250 250 250;
        --theme-text: 39 39 42;
        --theme-accent: 79 70 229;
    }

    :root[data-theme='dark'] {
        color-scheme: dark;
        --theme-bg-0: 39 39 42;
        --theme-bg-1: 63 63 70;
        --theme-bg-2: 24 24 27;
        --theme-text: 244 244 245;
        --theme-accent: 79 70 229;
    }

    html {
        @apply scroll-smooth;
    }

    body {
        @apply mx-auto flex min-h-screen  flex-col bg-nutral-0  font-mono text-sm font-normal text-textColor antialiased;
    }
}
