@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Rec Mono Semicasual';
        src:
            local('Rec Mono Semicasual Bold'),
            local('RecMonoSemicasual-Bold'),
            url('/fonts/RecMonoSemicasual-Bold.woff2') format('woff2');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Rec Mono Semicasual';
        src:
            local('Rec Mono Semicasual'),
            local('RecMonoSemicasual-Regular'),
            url('/fonts/RecMonoSemicasual-Regular.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Rec Mono Semicasual';
        src:
            local('Rec Mono Semicasual Bold Italic'),
            local('RecMonoSemicasual-BoldItalic'),
            url('/fonts/RecMonoSemicasual-BoldItalic.woff2') format('woff2');
        font-weight: bold;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: 'Rec Mono Semicasual';
        src:
            local('Rec Mono Semicasual Italic'),
            local('RecMonoSemicasual-Italic'),
            url('/fonts/RecMonoSemicasual-Italic.woff2') format('woff2');
        font-weight: normal;
        font-style: italic;
        font-display: swap;
    }

    *,
    ::before,
    ::after {
        @apply border-zinc-200 dark:border-zinc-800;
    }

    :root,
    :root[data-theme='light'] {
        color-scheme: light;
        --theme-bg-0: 250 250 250;
        --theme-bg-1: 244 244 245;
        --theme-bg-2: 63 63 70;
        --theme-fg-0: 9 9 11;
        --theme-fg-1: 24 24 27;
        --theme-fg-2: 63 63 70;
        --theme-primary: 79 70 229;
        --theme-accent-0: 67 56 202;
        --theme-accent-1: 55 48 163;
    }

    :root[data-theme='dark'] {
        color-scheme: dark;
        --theme-bg-0: 9 9 11;
        --theme-bg-1: 24 24 27;
        --theme-bg-2: 63 63 70;
        --theme-fg-0: 250 250 250;
        --theme-fg-1: 244 244 245;
        --theme-fg-2: 63 63 70;
        --theme-primary: 79 70 229;
        --theme-accent-0: 129 140 248;
        --theme-accent-1: 165 180 252;
    }

    html {
        @apply scroll-smooth;
    }

    body {
        @apply mx-auto flex min-h-screen  flex-col bg-surface-0  font-mono text-base font-normal text-fg-0 antialiased;
    }

    a {
        @apply text-accent-0 underline ease-in-out;
    }

    a:hover {
        @apply text-accent-1;
    }
}
