---
import BaseLayout from '@/layouts/BaseLayout.astro';
import HeroSection from '@/components/HeroSection.astro';
import GridSection from '@/components/GridSection.astro';
import ProjectGrid from '@/components/ProjectGrid.astro';

import { getAllProjects } from '@/data/projects';
import LinkButton from '@/components/LinkButton.astro';

const projects = await getAllProjects();
---

<BaseLayout meta={{ title: 'Home' }}>
    <div class="mx-auto my-8 max-w-3xl">
        <HeroSection />
        <GridSection title="Projects">
            <ProjectGrid projects={projects.slice(0, 4)} />
            {
                projects.length > 4 && (
                    <div class="pt-6 text-center">
                        <LinkButton url="/projects" label="View all projects" />
                    </div>
                )
            }
        </GridSection>
    </div>
</BaseLayout>
