---
import GridSection from '@/components/GridSection.astro';
import HeroSection from '@/components/HeroSection.astro';
import LinkButton from '@/components/LinkButton.astro';
import PostGrid from '@/components/PostGrid.astro';
import ProjectGrid from '@/components/ProjectGrid.astro';
import { getAllPosts, getAllProjects, sortPostByDate } from '@/data';
import BaseLayout from '@/layouts/BaseLayout.astro';

const projects = await getAllProjects();
const posts = await getAllPosts();
const sortedPosts = sortPostByDate(posts);
---

<BaseLayout meta={{ title: 'Home' }}>
    <div class="mx-auto max-w-3xl px-4 lg:px-0">
        <HeroSection />
        <GridSection title="Projects">
            <ProjectGrid projects={projects.slice(0, 4)} />
            {
                projects.length > 4 && (
                    <div class="pt-6 text-center">
                        <LinkButton url="/projects" label="View all projects" />
                    </div>
                )
            }
        </GridSection>
        <GridSection title="Recent Posts">
            <PostGrid posts={sortedPosts.slice(0, 4)} />
            {
                sortedPosts.length > 4 && (
                    <div class="pt-6 text-center">
                        <LinkButton url="/blog" label="View all posts" />
                    </div>
                )
            }
        </GridSection>
    </div>
</BaseLayout>
