---
import { CaretRightIcon } from '@phosphor-icons/react';

import type { BreadcrumbItem } from '@/components/types';

interface Props {
    items: BreadcrumbItem[];
}

const { items } = Astro.props;
---

<ul class="text-fg-2 flex gap-2 font-bold">
    {
        items.map((item, index) => (
            <li>
                <a
                    href={item.url}
                    class={`no-underline ${item.isCurrentPage ? `text-fg-2/90 pointer-events-none` : `text-fg-2`} `}
                >
                    {item.label}
                </a>
                {index !== items.length - 1 && (
                    <CaretRightIcon className="inline-block" />
                )}
            </li>
        ))
    }
</ul>
