<div id="utterances-container" class="mt-8 border-t border-dashed pt-6"></div>

<script>
    const script = document.createElement('script');
    const container = document.querySelector('#utterances-container');
    const currentTheme = localStorage.getItem('theme');

    Object.entries({
        src: 'https://utteranc.es/client.js',
        repo: 'sh4hids/shahid.pro-comments',
        'issue-term': 'pathname',
        theme: currentTheme == 'light' ? 'github-light' : 'github-dark',
        crossorigin: 'anonymous',
    }).forEach(([key, value]) => {
        script.setAttribute(key, value);
    });

    container?.appendChild(script);
</script>
