---
import {
    Coffee,
    Copyright,
    FacebookLogo,
    GithubLogo,
    LinkedinLogo,
    TwitterLogo,
} from '@phosphor-icons/react';

import { BrandNames, replaceAll } from '@/utils/string-helper';

import Text from './Text.astro';
---

<footer
    class="supports-backdrop-blur:bg-nutral-1/95 bg-nutral-0/90 mt-6 w-full border-t py-16"
>
    <div class="mx-auto grid max-w-4xl grid-cols-12 gap-6">
        <div class="col-span-7">
            <Text variant="h5">Word of Thanks</Text>
            <Text
                >Hello there, thank you very much for visiting my site. If you
                like anything on this site and want to know how it’s made, you
                can check the source code on <a
                    href="https://github.com/sh4hids"
                    >{replaceAll('github', BrandNames)}</a
                >.</Text
            >
            <Text
                >Like anything in my site and want to buy me a coffee? please
                follow the link 👇</Text
            >
            <a
                href="https://www.buymeacoffee.com/sh4hids"
                target="_blank"
                rel="noreferrer"
                class="mt-6 inline-block w-auto rounded-md bg-primary px-4 py-2 no-underline *:text-zinc-50"
            >
                <Coffee className="relative top-[-2px] mr-1 inline h-4 w-4" />
                <Text class="inline pt-0">Buy me a coffee</Text>
            </a>
        </div>
        <div class="col-span-5">
            <Text variant="h5">Social Links</Text>
            <ul class="pt-4 text-base *:pb-2 last:*:pb-0">
                <li>
                    <GithubLogo className="inline h-4 w-4" />
                    <a
                        class="text-textColor"
                        href="https://github.com/sh4hids"
                        target="_blank"
                        rel="noopener noreferrer">github.com/sh4hids</a
                    >
                </li>
                <li>
                    <TwitterLogo className="inline h-4 w-4" />
                    <a
                        class="text-textColor"
                        href="https://twitter.com/sh4hids"
                        target="_blank"
                        rel="noopener noreferrer">twitter.com/sh4hids</a
                    >
                </li>
                <li>
                    <FacebookLogo className="inline h-4 w-4" />
                    <a
                        class="text-textColor"
                        href="https://fb.com/sh4hids"
                        target="_blank"
                        rel="noopener noreferrer">facebook.com/sh4hids</a
                    >
                </li>
                <li>
                    <LinkedinLogo className="inline h-4 w-4" />
                    <a
                        class="text-textColor"
                        href="https://www.linkedin.com/in/sh4hids/"
                        target="_blank"
                        rel="noopener noreferrer">linkedin.com/in/sh4hids</a
                    >
                </li>
            </ul>
        </div>
        <div class="col-span-12 pt-4">
            <Text
                ><Copyright className="relative top-[-2px] inline h-4 w-4" /> 2018
                - present Shahidul Islam Majumder. All Rights Reserved.</Text
            >
        </div>
    </div>
</footer>
