---
import Text from './Text.astro';

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<section>
    <Text class="pb-6 text-center" variant="h3">{title}</Text>
    <slot />
</section>
