---
import Text from './Text.astro';
---

<div class="grid grid-cols-12 gap-6 items-center py-16">
    <div class="col-span-9">
    <Text variant="h2">Hi, I am Shahid...</Text>
        <Text>I am a full-stack software engineer working remotely from Feni, Bangladesh. I love to work with Node, React, TailwindCSS, SQL, DynamoDB, AWS, and all other related technologies. When not coding, I like to read books, gardening, and spending time with my family and friends.</Text>
    </div>
    <div class="col-span-3 flex items-center h-full">
        <svg
            width="100%"
            height="100%"
            viewBox="0 0 174 128"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <g clip-path="url(#clip0_358_852)">
                <path
                    d="M101.355 23.0341C104.616 23.0341 107.26 20.3904 107.26 17.1294C107.26 13.8683 104.616 11.2247 101.355 11.2247C98.0938 11.2247 95.4502 13.8683 95.4502 17.1294C95.4502 20.3904 98.0938 23.0341 101.355 23.0341Z"
                    fill="#D4D4D8"></path>
                <path
                    d="M147.159 110.666C155.936 103.982 160.128 92.7482 157.503 82.0323C157.438 81.766 157.369 81.5004 157.297 81.2354C155.557 74.8745 151.253 68.8291 144.979 66.7966C139.712 65.0901 133.962 66.4024 128.467 65.7237C117.679 64.3915 109.315 55.663 103.431 46.5242C97.5459 37.3854 93.0233 27.1557 85.2037 19.6057C72.3144 7.16081 51.2888 4.4814 35.3079 12.5821C19.3271 20.6829 9.14746 38.655 9.5816 56.5665C10.0157 74.478 20.649 91.6026 36.0911 100.688C41.7639 104.026 48.3251 106.391 54.8547 105.563C60.5204 104.845 65.6684 101.801 71.3075 100.897C80.1733 99.4762 88.9827 103.485 96.6511 108.156C104.319 112.827 111.726 118.364 120.44 120.529C128.902 122.632 139.384 116.588 147.159 110.666Z"
                    fill="#D4D4D8"></path>
                <path
                    d="M134.549 12.9583C134.357 12.83 134.162 12.7084 133.97 12.5845C128.409 9.02761 122.447 6.138 116.21 3.97542L114.764 23.927H105.595V1.06296C105.018 0.943541 104.436 0.830758 103.855 0.724609V23.927H92.959C86.9608 23.927 81.2082 21.5442 76.9668 17.3028C72.7254 13.0614 70.3427 7.30888 70.3427 1.31066C69.7588 1.43672 69.1794 1.57159 68.6 1.71534V23.927H59.7256L58.3478 4.90201C51.9379 7.36031 45.8526 10.5931 40.2273 14.5284C40.13 14.5947 40.0327 14.6633 39.9376 14.7296C39.4489 15.0724 38.9668 15.4218 38.4869 15.7756V91.891H64.6416L64.1794 85.4889L61.6362 50.3381H112.851L110.308 85.4889L109.846 91.891H135.71V13.7278C135.326 13.4669 134.939 13.2104 134.549 12.9583ZM68.6001 44.5331H61.2161L59.8516 25.6696H68.6001V44.5331ZM103.855 44.5331H91.453V44.1594C91.453 43.9797 91.4176 43.8018 91.3488 43.6359C91.28 43.4699 91.1791 43.3191 91.052 43.1922C90.9248 43.0653 90.7739 42.9646 90.6078 42.8961C90.4418 42.8275 90.2638 42.7924 90.0841 42.7927H84.6927C84.5132 42.7926 84.3354 42.8279 84.1696 42.8966C84.0037 42.9653 83.8531 43.0659 83.7261 43.1928C83.5992 43.3198 83.4985 43.4704 83.4299 43.6363C83.3612 43.8021 83.3259 43.9799 83.326 44.1594V44.5331H70.3427V25.6696H103.855V44.5331ZM105.595 44.5331V25.6696H114.638L113.273 44.5331H105.595Z"
                    fill="#52525B"></path>
                <path
                    d="M0 96.7651C1.92113 99.0415 3.99905 101.181 6.21855 103.167L167.781 103.388C170.001 101.402 172.079 99.2626 174 96.9863L0 96.7651Z"
                    fill="#52525B"></path>
                <path
                    d="M109.561 76.2652V95.2181C109.561 95.4596 109.657 95.6912 109.828 95.862C109.999 96.0328 110.23 96.1288 110.472 96.129H138.558C138.8 96.1288 139.031 96.0328 139.202 95.862C139.373 95.6912 139.469 95.4596 139.469 95.2181V76.2652C139.468 76.0239 139.372 75.7927 139.202 75.6221C139.031 75.4516 138.799 75.3556 138.558 75.3553H110.472C110.231 75.3556 109.999 75.4516 109.829 75.6221C109.658 75.7927 109.562 76.0239 109.561 76.2652Z"
                    fill="#52525B"></path>
                <path
                    d="M110.22 76.5011V94.9844C110.22 95.1134 110.272 95.2371 110.363 95.3284C110.454 95.4196 110.578 95.471 110.707 95.4712H138.324C138.453 95.471 138.577 95.4196 138.668 95.3284C138.76 95.2371 138.811 95.1134 138.811 94.9844V76.5011C138.811 76.3719 138.76 76.248 138.669 76.1566C138.577 76.0651 138.454 76.0136 138.324 76.0133H110.707C110.578 76.0136 110.454 76.0651 110.363 76.1566C110.271 76.248 110.22 76.3719 110.22 76.5011Z"
                    fill="#F4F4F5"></path>
                <path
                    d="M108.974 98.9144C109.025 98.979 109.09 99.031 109.165 99.0666C109.239 99.1022 109.321 99.1205 109.403 99.1201H139.477C139.559 99.12 139.64 99.1015 139.715 99.0661C139.789 99.0307 139.854 98.9792 139.906 98.9153C139.958 98.8514 139.995 98.7768 140.014 98.6968C140.034 98.6169 140.035 98.5337 140.018 98.4532L139.551 96.2357C139.532 96.1453 139.49 96.0611 139.43 95.9909C139.37 95.9207 139.293 95.8667 139.207 95.8337C139.144 95.8092 139.077 95.7966 139.01 95.7967H109.868C109.801 95.7966 109.735 95.8092 109.672 95.8337C109.586 95.8667 109.509 95.9207 109.449 95.9909C109.388 96.0611 109.347 96.1453 109.327 96.2357L108.861 98.4532C108.844 98.5336 108.845 98.6168 108.865 98.6966C108.885 98.7764 108.922 98.8508 108.974 98.9144Z"
                    fill="#3F3F46"></path>
                <path
                    d="M137.978 96.7518H138.689C138.748 96.7518 138.797 96.7035 138.797 96.6438V96.304C138.797 96.2444 138.748 96.196 138.689 96.196H137.978C137.919 96.196 137.87 96.2444 137.87 96.304V96.6438C137.87 96.7035 137.919 96.7518 137.978 96.7518Z"
                    fill="#52525B"></path>
                <path
                    d="M136.126 96.7518H136.836C136.896 96.7518 136.944 96.7035 136.944 96.6438V96.304C136.944 96.2444 136.896 96.196 136.836 96.196H136.126C136.066 96.196 136.018 96.2444 136.018 96.304V96.6438C136.018 96.7035 136.066 96.7518 136.126 96.7518Z"
                    fill="#52525B"></path>
                <path
                    d="M134.274 96.7518H134.984C135.043 96.7518 135.092 96.7035 135.092 96.6438V96.304C135.092 96.2444 135.043 96.196 134.984 96.196H134.274C134.214 96.196 134.166 96.2444 134.166 96.304V96.6438C134.166 96.7035 134.214 96.7518 134.274 96.7518Z"
                    fill="#52525B"></path>
                <path
                    d="M132.421 96.7518H133.131C133.191 96.7518 133.239 96.7035 133.239 96.6438V96.304C133.239 96.2444 133.191 96.196 133.131 96.196H132.421C132.361 96.196 132.313 96.2444 132.313 96.304V96.6438C132.313 96.7035 132.361 96.7518 132.421 96.7518Z"
                    fill="#52525B"></path>
                <path
                    d="M130.568 96.7518H131.279C131.338 96.7518 131.387 96.7035 131.387 96.6438V96.304C131.387 96.2444 131.338 96.196 131.279 96.196H130.568C130.509 96.196 130.46 96.2444 130.46 96.304V96.6438C130.46 96.7035 130.509 96.7518 130.568 96.7518Z"
                    fill="#52525B"></path>
                <path
                    d="M128.716 96.7518H129.426C129.486 96.7518 129.534 96.7035 129.534 96.6438V96.304C129.534 96.2444 129.486 96.196 129.426 96.196H128.716C128.656 96.196 128.608 96.2444 128.608 96.304V96.6438C128.608 96.7035 128.656 96.7518 128.716 96.7518Z"
                    fill="#52525B"></path>
                <path
                    d="M126.863 96.7518H127.574C127.633 96.7518 127.682 96.7035 127.682 96.6438V96.304C127.682 96.2444 127.633 96.196 127.574 96.196H126.863C126.804 96.196 126.755 96.2444 126.755 96.304V96.6438C126.755 96.7035 126.804 96.7518 126.863 96.7518Z"
                    fill="#52525B"></path>
                <path
                    d="M125.011 96.7518H125.721C125.781 96.7518 125.829 96.7035 125.829 96.6438V96.304C125.829 96.2444 125.781 96.196 125.721 96.196H125.011C124.951 96.196 124.903 96.2444 124.903 96.304V96.6438C124.903 96.7035 124.951 96.7518 125.011 96.7518Z"
                    fill="#52525B"></path>
                <path
                    d="M123.158 96.7518H123.869C123.928 96.7518 123.977 96.7035 123.977 96.6438V96.304C123.977 96.2444 123.928 96.196 123.869 96.196H123.158C123.099 96.196 123.05 96.2444 123.05 96.304V96.6438C123.05 96.7035 123.099 96.7518 123.158 96.7518Z"
                    fill="#52525B"></path>
                <path
                    d="M121.306 96.7518H122.016C122.076 96.7518 122.124 96.7035 122.124 96.6438V96.304C122.124 96.2444 122.076 96.196 122.016 96.196H121.306C121.246 96.196 121.198 96.2444 121.198 96.304V96.6438C121.198 96.7035 121.246 96.7518 121.306 96.7518Z"
                    fill="#52525B"></path>
                <path
                    d="M119.453 96.7518H120.164C120.223 96.7518 120.271 96.7035 120.271 96.6438V96.304C120.271 96.2444 120.223 96.196 120.164 96.196H119.453C119.394 96.196 119.345 96.2444 119.345 96.304V96.6438C119.345 96.7035 119.394 96.7518 119.453 96.7518Z"
                    fill="#52525B"></path>
                <path
                    d="M117.601 96.7518H118.311C118.371 96.7518 118.419 96.7035 118.419 96.6438V96.304C118.419 96.2444 118.371 96.196 118.311 96.196H117.601C117.541 96.196 117.493 96.2444 117.493 96.304V96.6438C117.493 96.7035 117.541 96.7518 117.601 96.7518Z"
                    fill="#52525B"></path>
                <path
                    d="M115.748 96.7518H116.459C116.518 96.7518 116.567 96.7035 116.567 96.6438V96.304C116.567 96.2444 116.518 96.196 116.459 96.196H115.748C115.689 96.196 115.64 96.2444 115.64 96.304V96.6438C115.64 96.7035 115.689 96.7518 115.748 96.7518Z"
                    fill="#52525B"></path>
                <path
                    d="M113.896 96.7518H114.606C114.666 96.7518 114.714 96.7035 114.714 96.6438V96.304C114.714 96.2444 114.666 96.196 114.606 96.196H113.896C113.836 96.196 113.788 96.2444 113.788 96.304V96.6438C113.788 96.7035 113.836 96.7518 113.896 96.7518Z"
                    fill="#52525B"></path>
                <path
                    d="M112.043 96.7518H112.754C112.813 96.7518 112.862 96.7035 112.862 96.6438V96.304C112.862 96.2444 112.813 96.196 112.754 96.196H112.043C111.984 96.196 111.935 96.2444 111.935 96.304V96.6438C111.935 96.7035 111.984 96.7518 112.043 96.7518Z"
                    fill="#52525B"></path>
                <path
                    d="M110.191 96.7518H110.901C110.961 96.7518 111.009 96.7035 111.009 96.6438V96.304C111.009 96.2444 110.961 96.196 110.901 96.196H110.191C110.131 96.196 110.083 96.2444 110.083 96.304V96.6438C110.083 96.7035 110.131 96.7518 110.191 96.7518Z"
                    fill="#52525B"></path>
                <path
                    d="M138 97.6781H138.711C138.77 97.6781 138.819 97.6297 138.819 97.5701V97.2303C138.819 97.1707 138.77 97.1223 138.711 97.1223H138C137.941 97.1223 137.892 97.1707 137.892 97.2303V97.5701C137.892 97.6297 137.941 97.6781 138 97.6781Z"
                    fill="#52525B"></path>
                <path
                    d="M136.148 97.6781H136.858C136.918 97.6781 136.966 97.6297 136.966 97.5701V97.2303C136.966 97.1707 136.918 97.1223 136.858 97.1223H136.148C136.088 97.1223 136.04 97.1707 136.04 97.2303V97.5701C136.04 97.6297 136.088 97.6781 136.148 97.6781Z"
                    fill="#52525B"></path>
                <path
                    d="M134.295 97.6781H135.006C135.065 97.6781 135.114 97.6297 135.114 97.5701V97.2303C135.114 97.1707 135.065 97.1223 135.006 97.1223H134.295C134.236 97.1223 134.187 97.1707 134.187 97.2303V97.5701C134.187 97.6297 134.236 97.6781 134.295 97.6781Z"
                    fill="#52525B"></path>
                <path
                    d="M132.443 97.6781H133.153C133.213 97.6781 133.261 97.6297 133.261 97.5701V97.2303C133.261 97.1707 133.213 97.1223 133.153 97.1223H132.443C132.383 97.1223 132.335 97.1707 132.335 97.2303V97.5701C132.335 97.6297 132.383 97.6781 132.443 97.6781Z"
                    fill="#52525B"></path>
                <path
                    d="M130.59 97.6781H131.301C131.36 97.6781 131.409 97.6297 131.409 97.5701V97.2303C131.409 97.1707 131.36 97.1223 131.301 97.1223H130.59C130.531 97.1223 130.482 97.1707 130.482 97.2303V97.5701C130.482 97.6297 130.531 97.6781 130.59 97.6781Z"
                    fill="#52525B"></path>
                <path
                    d="M128.738 97.6781H129.448C129.508 97.6781 129.556 97.6297 129.556 97.5701V97.2303C129.556 97.1707 129.508 97.1223 129.448 97.1223H128.738C128.678 97.1223 128.63 97.1707 128.63 97.2303V97.5701C128.63 97.6297 128.678 97.6781 128.738 97.6781Z"
                    fill="#52525B"></path>
                <path
                    d="M126.885 97.6781H127.595C127.655 97.6781 127.703 97.6297 127.703 97.5701V97.2303C127.703 97.1707 127.655 97.1223 127.595 97.1223H126.885C126.825 97.1223 126.777 97.1707 126.777 97.2303V97.5701C126.777 97.6297 126.825 97.6781 126.885 97.6781Z"
                    fill="#52525B"></path>
                <path
                    d="M125.033 97.6781H125.743C125.803 97.6781 125.851 97.6297 125.851 97.5701V97.2303C125.851 97.1707 125.803 97.1223 125.743 97.1223H125.033C124.973 97.1223 124.925 97.1707 124.925 97.2303V97.5701C124.925 97.6297 124.973 97.6781 125.033 97.6781Z"
                    fill="#52525B"></path>
                <path
                    d="M123.18 97.6781H123.891C123.95 97.6781 123.999 97.6297 123.999 97.5701V97.2303C123.999 97.1707 123.95 97.1223 123.891 97.1223H123.18C123.121 97.1223 123.072 97.1707 123.072 97.2303V97.5701C123.072 97.6297 123.121 97.6781 123.18 97.6781Z"
                    fill="#52525B"></path>
                <path
                    d="M121.328 97.6781H122.038C122.098 97.6781 122.146 97.6297 122.146 97.5701V97.2303C122.146 97.1707 122.098 97.1223 122.038 97.1223H121.328C121.268 97.1223 121.22 97.1707 121.22 97.2303V97.5701C121.22 97.6297 121.268 97.6781 121.328 97.6781Z"
                    fill="#52525B"></path>
                <path
                    d="M119.475 97.6781H120.186C120.245 97.6781 120.293 97.6297 120.293 97.5701V97.2303C120.293 97.1707 120.245 97.1223 120.186 97.1223H119.475C119.416 97.1223 119.367 97.1707 119.367 97.2303V97.5701C119.367 97.6297 119.416 97.6781 119.475 97.6781Z"
                    fill="#52525B"></path>
                <path
                    d="M117.623 97.6781H118.333C118.393 97.6781 118.441 97.6297 118.441 97.5701V97.2303C118.441 97.1707 118.393 97.1223 118.333 97.1223H117.623C117.563 97.1223 117.515 97.1707 117.515 97.2303V97.5701C117.515 97.6297 117.563 97.6781 117.623 97.6781Z"
                    fill="#52525B"></path>
                <path
                    d="M115.77 97.6781H116.48C116.54 97.6781 116.588 97.6297 116.588 97.5701V97.2303C116.588 97.1707 116.54 97.1223 116.48 97.1223H115.77C115.71 97.1223 115.662 97.1707 115.662 97.2303V97.5701C115.662 97.6297 115.71 97.6781 115.77 97.6781Z"
                    fill="#52525B"></path>
                <path
                    d="M113.918 97.6781H114.628C114.687 97.6781 114.736 97.6297 114.736 97.5701V97.2303C114.736 97.1707 114.687 97.1223 114.628 97.1223H113.918C113.858 97.1223 113.81 97.1707 113.81 97.2303V97.5701C113.81 97.6297 113.858 97.6781 113.918 97.6781Z"
                    fill="#52525B"></path>
                <path
                    d="M112.065 97.6781H112.775C112.835 97.6781 112.883 97.6297 112.883 97.5701V97.2303C112.883 97.1707 112.835 97.1223 112.775 97.1223H112.065C112.005 97.1223 111.957 97.1707 111.957 97.2303V97.5701C111.957 97.6297 112.005 97.6781 112.065 97.6781Z"
                    fill="#52525B"></path>
                <path
                    d="M110.213 97.6781H110.923C110.983 97.6781 111.031 97.6297 111.031 97.5701V97.2303C111.031 97.1707 110.983 97.1223 110.923 97.1223H110.213C110.153 97.1223 110.105 97.1707 110.105 97.2303V97.5701C110.105 97.6297 110.153 97.6781 110.213 97.6781Z"
                    fill="#52525B"></path>
                <path
                    d="M122.624 98.7896H129.819C129.878 98.7896 129.927 98.7412 129.927 98.6816V98.3418C129.927 98.2821 129.878 98.2338 129.819 98.2338H122.624C122.565 98.2338 122.516 98.2821 122.516 98.3418V98.6816C122.516 98.7412 122.565 98.7896 122.624 98.7896Z"
                    fill="#52525B"></path>
                <path
                    d="M115.002 80.0569H114.374C114.183 80.0569 114.028 80.2115 114.028 80.4022C114.028 80.5928 114.183 80.7474 114.374 80.7474H115.002C115.193 80.7474 115.348 80.5928 115.348 80.4022C115.348 80.2115 115.193 80.0569 115.002 80.0569Z"
                    fill="#4F46E5"></path>
                <path
                    d="M122.195 80.0569H121.566C121.375 80.0569 121.221 80.2115 121.221 80.4022C121.221 80.5928 121.375 80.7474 121.566 80.7474H122.195C122.385 80.7474 122.54 80.5928 122.54 80.4022C122.54 80.2115 122.385 80.0569 122.195 80.0569Z"
                    fill="#4F46E5"></path>
                <path
                    d="M124.232 80.0569H123.604C123.413 80.0569 123.258 80.2115 123.258 80.4022C123.258 80.5928 123.413 80.7474 123.604 80.7474H124.232C124.423 80.7474 124.578 80.5928 124.578 80.4022C124.578 80.2115 124.423 80.0569 124.232 80.0569Z"
                    fill="#4F46E5"></path>
                <path
                    d="M120.238 79.9994H116.33C116.139 79.9994 115.985 80.1539 115.985 80.3446C115.985 80.5353 116.139 80.6898 116.33 80.6898H120.238C120.429 80.6898 120.584 80.5353 120.584 80.3446C120.584 80.1539 120.429 79.9994 120.238 79.9994Z"
                    fill="#4F46E5"></path>
                <path
                    d="M129.828 79.9994H125.919C125.729 79.9994 125.574 80.1539 125.574 80.3446C125.574 80.5353 125.729 80.6898 125.919 80.6898H129.828C130.019 80.6898 130.173 80.5353 130.173 80.3446C130.173 80.1539 130.019 79.9994 129.828 79.9994Z"
                    fill="#4F46E5"></path>
                <path
                    d="M116.92 81.6153H116.292C116.101 81.6153 115.946 81.7699 115.946 81.9605C115.946 82.1512 116.101 82.3058 116.292 82.3058H116.92C117.111 82.3058 117.266 82.1512 117.266 81.9605C117.266 81.7699 117.111 81.6153 116.92 81.6153Z"
                    fill="#4F46E5"></path>
                <path
                    d="M124.113 81.6153H123.484C123.293 81.6153 123.139 81.7699 123.139 81.9605C123.139 82.1512 123.293 82.3058 123.484 82.3058H124.113C124.303 82.3058 124.458 82.1512 124.458 81.9605C124.458 81.7699 124.303 81.6153 124.113 81.6153Z"
                    fill="#4F46E5"></path>
                <path
                    d="M126.15 81.6153H125.521C125.331 81.6153 125.176 81.7699 125.176 81.9605C125.176 82.1512 125.331 82.3058 125.521 82.3058H126.15C126.341 82.3058 126.496 82.1512 126.496 81.9605C126.496 81.7699 126.341 81.6153 126.15 81.6153Z"
                    fill="#4F46E5"></path>
                <path
                    d="M122.156 81.5577H118.248C118.057 81.5577 117.903 81.7122 117.903 81.9029C117.903 82.0936 118.057 82.2481 118.248 82.2481H122.156C122.347 82.2481 122.502 82.0936 122.502 81.9029C122.502 81.7122 122.347 81.5577 122.156 81.5577Z"
                    fill="#4F46E5"></path>
                <path
                    d="M131.746 81.5577H127.838C127.647 81.5577 127.492 81.7122 127.492 81.9029C127.492 82.0936 127.647 82.2481 127.838 82.2481H131.746C131.937 82.2481 132.091 82.0936 132.091 81.9029C132.091 81.7122 131.937 81.5577 131.746 81.5577Z"
                    fill="#4F46E5"></path>
                <path
                    d="M118.838 83.1736H118.209C118.019 83.1736 117.864 83.3282 117.864 83.5188C117.864 83.7095 118.019 83.8641 118.209 83.8641H118.838C119.029 83.8641 119.184 83.7095 119.184 83.5188C119.184 83.3282 119.029 83.1736 118.838 83.1736Z"
                    fill="#4F46E5"></path>
                <path
                    d="M126.03 83.1736H125.402C125.211 83.1736 125.056 83.3282 125.056 83.5188C125.056 83.7095 125.211 83.8641 125.402 83.8641H126.03C126.221 83.8641 126.376 83.7095 126.376 83.5188C126.376 83.3282 126.221 83.1736 126.03 83.1736Z"
                    fill="#4F46E5"></path>
                <path
                    d="M128.069 83.1736H127.44C127.249 83.1736 127.094 83.3282 127.094 83.5188C127.094 83.7095 127.249 83.8641 127.44 83.8641H128.069C128.259 83.8641 128.414 83.7095 128.414 83.5188C128.414 83.3282 128.259 83.1736 128.069 83.1736Z"
                    fill="#4F46E5"></path>
                <path
                    d="M124.074 83.116H120.166C119.975 83.116 119.821 83.2705 119.821 83.4612C119.821 83.6519 119.975 83.8064 120.166 83.8064H124.074C124.265 83.8064 124.419 83.6519 124.419 83.4612C124.419 83.2705 124.265 83.116 124.074 83.116Z"
                    fill="#4F46E5"></path>
                <path
                    d="M133.664 83.116H129.755C129.565 83.116 129.41 83.2705 129.41 83.4612C129.41 83.6519 129.565 83.8064 129.755 83.8064H133.664C133.855 83.8064 134.009 83.6519 134.009 83.4612C134.009 83.2705 133.855 83.116 133.664 83.116Z"
                    fill="#4F46E5"></path>
                <path
                    d="M120.756 84.7319H120.127C119.937 84.7319 119.782 84.8865 119.782 85.0771C119.782 85.2678 119.937 85.4223 120.127 85.4223H120.756C120.947 85.4223 121.102 85.2678 121.102 85.0771C121.102 84.8865 120.947 84.7319 120.756 84.7319Z"
                    fill="#4F46E5"></path>
                <path
                    d="M127.948 84.7319H127.32C127.129 84.7319 126.974 84.8865 126.974 85.0771C126.974 85.2678 127.129 85.4223 127.32 85.4223H127.948C128.139 85.4223 128.294 85.2678 128.294 85.0771C128.294 84.8865 128.139 84.7319 127.948 84.7319Z"
                    fill="#4F46E5"></path>
                <path
                    d="M129.986 84.7319H129.357C129.167 84.7319 129.012 84.8865 129.012 85.0771C129.012 85.2678 129.167 85.4223 129.357 85.4223H129.986C130.177 85.4223 130.332 85.2678 130.332 85.0771C130.332 84.8865 130.177 84.7319 129.986 84.7319Z"
                    fill="#4F46E5"></path>
                <path
                    d="M125.992 84.6743H122.084C121.893 84.6743 121.739 84.8288 121.739 85.0195C121.739 85.2102 121.893 85.3647 122.084 85.3647H125.992C126.183 85.3647 126.337 85.2102 126.337 85.0195C126.337 84.8288 126.183 84.6743 125.992 84.6743Z"
                    fill="#4F46E5"></path>
                <path
                    d="M122.195 90.9284H121.566C121.375 90.9284 121.221 91.083 121.221 91.2736C121.221 91.4643 121.375 91.6189 121.566 91.6189H122.195C122.385 91.6189 122.54 91.4643 122.54 91.2736C122.54 91.083 122.385 90.9284 122.195 90.9284Z"
                    fill="#4F46E5"></path>
                <path
                    d="M124.232 90.9284H123.604C123.413 90.9284 123.258 91.083 123.258 91.2736C123.258 91.4643 123.413 91.6189 123.604 91.6189H124.232C124.423 91.6189 124.578 91.4643 124.578 91.2736C124.578 91.083 124.423 90.9284 124.232 90.9284Z"
                    fill="#4F46E5"></path>
                <path
                    d="M129.828 90.986H125.919C125.729 90.986 125.574 91.1406 125.574 91.3312C125.574 91.5219 125.729 91.6765 125.919 91.6765H129.828C130.019 91.6765 130.173 91.5219 130.173 91.3312C130.173 91.1406 130.019 90.986 129.828 90.986Z"
                    fill="#4F46E5"></path>
                <path
                    d="M115.002 90.9284H114.374C114.183 90.9284 114.028 91.083 114.028 91.2736C114.028 91.4643 114.183 91.6189 114.374 91.6189H115.002C115.193 91.6189 115.348 91.4643 115.348 91.2736C115.348 91.083 115.193 90.9284 115.002 90.9284Z"
                    fill="#4F46E5"></path>
                <path
                    d="M120.238 90.986H116.33C116.139 90.986 115.985 91.1406 115.985 91.3312C115.985 91.5219 116.139 91.6765 116.33 91.6765H120.238C120.429 91.6765 120.584 91.5219 120.584 91.3312C120.584 91.1406 120.429 90.986 120.238 90.986Z"
                    fill="#4F46E5"></path>
                <path
                    d="M116.92 89.3701H116.292C116.101 89.3701 115.946 89.5247 115.946 89.7153C115.946 89.906 116.101 90.0606 116.292 90.0606H116.92C117.111 90.0606 117.266 89.906 117.266 89.7153C117.266 89.5247 117.111 89.3701 116.92 89.3701Z"
                    fill="#4F46E5"></path>
                <path
                    d="M124.113 89.3701H123.484C123.293 89.3701 123.139 89.5247 123.139 89.7153C123.139 89.906 123.293 90.0606 123.484 90.0606H124.113C124.303 90.0606 124.458 89.906 124.458 89.7153C124.458 89.5247 124.303 89.3701 124.113 89.3701Z"
                    fill="#4F46E5"></path>
                <path
                    d="M126.15 89.3701H125.521C125.331 89.3701 125.176 89.5247 125.176 89.7153C125.176 89.906 125.331 90.0606 125.521 90.0606H126.15C126.341 90.0606 126.496 89.906 126.496 89.7153C126.496 89.5247 126.341 89.3701 126.15 89.3701Z"
                    fill="#4F46E5"></path>
                <path
                    d="M122.156 89.4277H118.248C118.057 89.4277 117.903 89.5823 117.903 89.773C117.903 89.9636 118.057 90.1182 118.248 90.1182H122.156C122.347 90.1182 122.502 89.9636 122.502 89.773C122.502 89.5823 122.347 89.4277 122.156 89.4277Z"
                    fill="#4F46E5"></path>
                <path
                    d="M118.838 87.8118H118.209C118.019 87.8118 117.864 87.9664 117.864 88.157C117.864 88.3477 118.019 88.5023 118.209 88.5023H118.838C119.029 88.5023 119.184 88.3477 119.184 88.157C119.184 87.9664 119.029 87.8118 118.838 87.8118Z"
                    fill="#4F46E5"></path>
                <path
                    d="M126.03 87.8118H125.402C125.211 87.8118 125.056 87.9664 125.056 88.157C125.056 88.3477 125.211 88.5023 125.402 88.5023H126.03C126.221 88.5023 126.376 88.3477 126.376 88.157C126.376 87.9664 126.221 87.8118 126.03 87.8118Z"
                    fill="#4F46E5"></path>
                <path
                    d="M128.069 87.8118H127.44C127.249 87.8118 127.094 87.9664 127.094 88.157C127.094 88.3477 127.249 88.5023 127.44 88.5023H128.069C128.259 88.5023 128.414 88.3477 128.414 88.157C128.414 87.9664 128.259 87.8118 128.069 87.8118Z"
                    fill="#4F46E5"></path>
                <path
                    d="M124.074 87.8694H120.166C119.975 87.8694 119.821 88.0239 119.821 88.2146C119.821 88.4053 119.975 88.5598 120.166 88.5598H124.074C124.265 88.5598 124.419 88.4053 124.419 88.2146C124.419 88.0239 124.265 87.8694 124.074 87.8694Z"
                    fill="#4F46E5"></path>
                <path
                    d="M120.756 86.2535H120.127C119.937 86.2535 119.782 86.4081 119.782 86.5987C119.782 86.7894 119.937 86.944 120.127 86.944H120.756C120.947 86.944 121.102 86.7894 121.102 86.5987C121.102 86.4081 120.947 86.2535 120.756 86.2535Z"
                    fill="#4F46E5"></path>
                <path
                    d="M127.948 86.2535H127.32C127.129 86.2535 126.974 86.4081 126.974 86.5987C126.974 86.7894 127.129 86.944 127.32 86.944H127.948C128.139 86.944 128.294 86.7894 128.294 86.5987C128.294 86.4081 128.139 86.2535 127.948 86.2535Z"
                    fill="#4F46E5"></path>
                <path
                    d="M129.986 86.2535H129.357C129.167 86.2535 129.012 86.4081 129.012 86.5987C129.012 86.7894 129.167 86.944 129.357 86.944H129.986C130.177 86.944 130.332 86.7894 130.332 86.5987C130.332 86.4081 130.177 86.2535 129.986 86.2535Z"
                    fill="#4F46E5"></path>
                <path
                    d="M125.992 86.311H122.084C121.893 86.311 121.739 86.4656 121.739 86.6562C121.739 86.8469 121.893 87.0014 122.084 87.0014H125.992C126.183 87.0014 126.337 86.8469 126.337 86.6562C126.337 86.4656 126.183 86.311 125.992 86.311Z"
                    fill="#4F46E5"></path>
                <path
                    d="M111.659 109.191L108.707 104.525L117.973 97.1381L121.798 92.9008C122.295 92.3503 122.927 91.9398 123.633 91.7104C124.338 91.481 125.091 91.4407 125.817 91.5936C126.542 91.7464 127.215 92.087 127.768 92.5814C128.321 93.0758 128.734 93.7065 128.967 94.4107C129.312 95.4542 129.238 96.5908 128.76 97.5807C128.283 98.5706 127.439 99.3363 126.408 99.7162L120.36 101.944L111.659 109.191Z"
                    fill="#FECACA"></path>
                <path
                    d="M42.391 75.3563V98.0367H58.2802V75.3563C58.2804 75.1931 58.2284 75.0342 58.1317 74.9029C58.0349 74.7715 57.8986 74.6746 57.7428 74.6265C57.6693 74.6022 57.5924 74.5903 57.515 74.5911H43.1584C43.0577 74.5909 42.958 74.6106 42.865 74.6489C42.7719 74.6873 42.6874 74.7436 42.6161 74.8146C42.5448 74.8857 42.4883 74.9701 42.4496 75.063C42.411 75.156 42.3911 75.2556 42.391 75.3563ZM48.5919 83.1493C48.596 82.7022 48.7765 82.2748 49.0942 81.9601C49.4118 81.6454 49.8409 81.4688 50.288 81.4688C50.7352 81.4688 51.1642 81.6454 51.4819 81.9601C51.7995 82.2748 51.9801 82.7022 51.9842 83.1493V85.781C51.9819 86.2293 51.8022 86.6585 51.4844 86.9747C51.1665 87.291 50.7364 87.4685 50.288 87.4685C49.8397 87.4685 49.4096 87.291 49.0917 86.9747C48.7739 86.6585 48.5941 86.2293 48.5919 85.781V83.1493Z"
                    fill="#3F3F46"></path>
                <path
                    d="M42.3423 97.3114V99.4985C42.3426 99.6118 42.3877 99.7204 42.4676 99.8007C42.5475 99.881 42.6558 99.9266 42.7691 99.9275H57.9019C58.0153 99.9269 58.1239 99.8815 58.2039 99.8011C58.2838 99.7207 58.3287 99.6119 58.3287 99.4985V97.3114H42.3423Z"
                    fill="#52525B"></path>
                <path
                    d="M17.395 41.1852V82.5965C17.3954 83.1242 17.6053 83.6302 17.9784 84.0034C18.3516 84.3765 18.8576 84.5864 19.3853 84.5868H80.7525C81.2803 84.5864 81.7863 84.3765 82.1594 84.0034C82.5326 83.6302 82.7424 83.1242 82.7428 82.5965V41.1852C82.7416 40.6579 82.5314 40.1526 82.1584 39.78C81.7853 39.4074 81.2798 39.1978 80.7525 39.1971H19.3853C18.858 39.1978 18.3525 39.4074 17.9795 39.78C17.6064 40.1526 17.3963 40.6579 17.395 41.1852Z"
                    fill="#52525B"></path>
                <path
                    d="M18.8347 41.7004V82.0857C18.8352 82.3676 18.9474 82.6379 19.1468 82.8373C19.3462 83.0366 19.6165 83.1489 19.8984 83.1494H80.2419C80.5238 83.1489 80.7941 83.0366 80.9935 82.8373C81.1929 82.6379 81.3051 82.3676 81.3056 82.0857V41.7004C81.3055 41.4181 81.1935 41.1474 80.9941 40.9476C80.7947 40.7477 80.5242 40.6351 80.2419 40.6345H19.8984C19.6161 40.6352 19.3456 40.7477 19.1462 40.9476C18.9468 41.1474 18.8347 41.4181 18.8347 41.7004Z"
                    fill="#F4F4F5"></path>
                <path
                    d="M30.0334 99.7793C30.0948 99.8563 30.1729 99.9184 30.2618 99.961C30.3506 100.003 30.448 100.025 30.5465 100.025H66.4469C66.5451 100.025 66.642 100.003 66.7306 99.9604C66.8192 99.9181 66.8973 99.8566 66.9592 99.7803C67.021 99.7041 67.0651 99.615 67.0882 99.5196C67.1113 99.4242 67.1128 99.3248 67.0927 99.2287L66.5354 96.5816C66.5123 96.4736 66.4625 96.3732 66.3907 96.2894C66.3189 96.2056 66.2272 96.141 66.1241 96.1017C66.0494 96.0724 65.9699 96.0574 65.8896 96.0575H31.1015C31.0213 96.0574 30.9418 96.0724 30.8671 96.1017C30.764 96.141 30.6723 96.2056 30.6005 96.2894C30.5286 96.3732 30.4789 96.4736 30.4558 96.5816L29.8985 99.2287C29.8787 99.3247 29.8805 99.424 29.9038 99.5192C29.9272 99.6145 29.9714 99.7033 30.0334 99.7793Z"
                    fill="#3F3F46"></path>
                <path
                    d="M78.2835 46.1978H21.8204C21.7617 46.1965 21.7059 46.1723 21.6649 46.1303C21.6238 46.0883 21.6008 46.0319 21.6008 45.9732C21.6008 45.9145 21.6238 45.8582 21.6649 45.8162C21.7059 45.7742 21.7617 45.75 21.8204 45.7487H78.2835C78.3422 45.75 78.398 45.7742 78.4391 45.8162C78.4801 45.8582 78.5031 45.9145 78.5031 45.9732C78.5031 46.0319 78.4801 46.0883 78.4391 46.1303C78.398 46.1723 78.3422 46.1965 78.2835 46.1978Z"
                    fill="#52525B"></path>
                <path
                    d="M25.664 44.6023C26.3908 44.6023 26.9799 44 26.9799 43.257C26.9799 42.5141 26.3908 41.9118 25.664 41.9118C24.9373 41.9118 24.3481 42.5141 24.3481 43.257C24.3481 44 24.9373 44.6023 25.664 44.6023Z"
                    fill="#52525B"></path>
                <path
                    d="M30.2098 44.6023C30.9366 44.6023 31.5257 44 31.5257 43.257C31.5257 42.5141 30.9366 41.9118 30.2098 41.9118C29.4831 41.9118 28.8939 42.5141 28.8939 43.257C28.8939 44 29.4831 44.6023 30.2098 44.6023Z"
                    fill="#52525B"></path>
                <path
                    d="M34.7557 44.6023C35.4825 44.6023 36.0716 44 36.0716 43.257C36.0716 42.5141 35.4825 41.9118 34.7557 41.9118C34.029 41.9118 33.4398 42.5141 33.4398 43.257C33.4398 44 34.029 44.6023 34.7557 44.6023Z"
                    fill="#52525B"></path>
                <path
                    d="M75.5463 42.2445H72.3176C72.2538 42.2459 72.1931 42.2723 72.1485 42.318C72.1038 42.3637 72.0789 42.425 72.0789 42.4888C72.0789 42.5527 72.1038 42.614 72.1485 42.6596C72.1931 42.7053 72.2538 42.7317 72.3176 42.7332H75.5463C75.6105 42.7323 75.6718 42.7061 75.7169 42.6604C75.762 42.6147 75.7872 42.553 75.7872 42.4888C75.7872 42.4246 75.762 42.363 75.7169 42.3172C75.6718 42.2715 75.6105 42.2454 75.5463 42.2445Z"
                    fill="#52525B"></path>
                <path
                    d="M75.5461 43.1622H72.3174C72.2535 43.1636 72.1927 43.19 72.1481 43.2357C72.1034 43.2814 72.0784 43.3427 72.0784 43.4066C72.0784 43.4705 72.1034 43.5318 72.1481 43.5775C72.1927 43.6232 72.2535 43.6495 72.3174 43.651H75.5461C75.6104 43.6502 75.6718 43.6241 75.717 43.5784C75.7622 43.5326 75.7875 43.4709 75.7875 43.4066C75.7875 43.3423 75.7622 43.2806 75.717 43.2348C75.6718 43.1891 75.6104 43.163 75.5461 43.1622Z"
                    fill="#52525B"></path>
                <path
                    d="M75.5463 44.0799H72.3176C72.2538 44.0814 72.1931 44.1078 72.1485 44.1535C72.1038 44.1992 72.0789 44.2605 72.0789 44.3243C72.0789 44.3881 72.1038 44.4495 72.1485 44.4951C72.1931 44.5408 72.2538 44.5672 72.3176 44.5687H75.5463C75.6105 44.5678 75.6718 44.5416 75.7169 44.4959C75.762 44.4502 75.7872 44.3885 75.7872 44.3243C75.7872 44.2601 75.762 44.1984 75.7169 44.1527C75.6718 44.107 75.6105 44.0808 75.5463 44.0799Z"
                    fill="#52525B"></path>
                <path
                    d="M153.384 98.2713C153.482 98.5549 153.666 98.8004 153.912 98.9725C154.158 99.1446 154.452 99.2344 154.752 99.229L160.61 99.0783C160.912 99.0724 161.204 98.9689 161.443 98.7833C161.681 98.5976 161.853 98.3398 161.933 98.0484L162.762 89.1834C163.056 89.3166 163.376 89.3824 163.699 89.376C163.979 89.3689 164.256 89.3067 164.512 89.1929C164.769 89.079 165 88.9158 165.194 88.7125C165.387 88.5092 165.538 88.2697 165.639 88.0079C165.74 87.7461 165.788 87.467 165.781 87.1865C165.774 86.906 165.712 86.6296 165.598 86.3732C165.484 86.1167 165.321 85.8852 165.118 85.6919C164.914 85.4985 164.675 85.3471 164.413 85.2463C164.151 85.1455 163.872 85.0972 163.592 85.1042C163.463 85.1038 163.334 85.1172 163.208 85.1442C163.071 84.9957 162.904 84.8776 162.718 84.7975C162.532 84.7174 162.332 84.6771 162.13 84.6791L153.118 84.9118C153.043 84.9146 152.969 84.9238 152.896 84.9394C152.698 84.9762 152.511 85.055 152.346 85.1703C152.182 85.2857 152.044 85.435 151.941 85.6082C151.839 85.7813 151.775 85.9744 151.754 86.1743C151.733 86.3742 151.755 86.5763 151.818 86.7671L153.384 98.2713ZM162.932 88.5815L163.522 86.4689C163.589 86.2249 163.59 85.9675 163.526 85.7227C163.555 85.7226 163.58 85.709 163.609 85.709C164.013 85.7006 164.404 85.853 164.697 86.1327C164.989 86.4124 165.159 86.7966 165.168 87.2011C165.178 87.6055 165.026 87.9973 164.747 88.2903C164.468 88.5834 164.085 88.754 163.68 88.7645C163.419 88.7727 163.16 88.7094 162.932 88.5815Z"
                    fill="#3F3F46"></path>
                <path
                    d="M152.896 84.9393C153.088 86.0371 155.246 86.8088 157.842 86.6747C160.229 86.5647 162.18 85.7267 162.538 84.7334C162.405 84.6943 162.268 84.6759 162.13 84.679L153.118 84.9117C153.043 84.9145 152.969 84.9237 152.896 84.9393Z"
                    fill="#52525B"></path>
                <path
                    d="M158.318 93.3998C158.329 93.3968 158.341 93.3919 158.351 93.3851L159.623 92.5524C159.639 92.5424 159.651 92.5287 159.66 92.5125C159.669 92.4964 159.673 92.4783 159.673 92.4599C159.673 92.4416 159.669 92.4235 159.66 92.4074C159.651 92.3912 159.639 92.3775 159.623 92.3675L158.301 91.5013C158.289 91.4933 158.275 91.4877 158.261 91.485C158.247 91.4822 158.232 91.4823 158.218 91.4852C158.203 91.4882 158.19 91.4939 158.178 91.5021C158.166 91.5103 158.155 91.5207 158.147 91.5329C158.14 91.5451 158.134 91.5587 158.131 91.573C158.129 91.5873 158.129 91.602 158.132 91.6162C158.135 91.6305 158.141 91.644 158.149 91.656C158.157 91.668 158.168 91.6782 158.18 91.6862L159.361 92.4598L158.23 93.2001C158.208 93.2145 158.192 93.2361 158.184 93.2612C158.177 93.2862 158.179 93.3132 158.189 93.3371C158.2 93.3611 158.218 93.3805 158.242 93.392C158.265 93.4035 158.292 93.4063 158.318 93.3998Z"
                    fill="#6366F1"></path>
                <path
                    d="M156.308 93.4925C156.329 93.4871 156.349 93.4754 156.363 93.459C156.378 93.4426 156.387 93.4222 156.39 93.4003C156.393 93.3785 156.39 93.3563 156.38 93.3365C156.37 93.3168 156.355 93.3003 156.336 93.2894L155.163 92.617L156.297 91.7751C156.308 91.7664 156.318 91.7556 156.326 91.7431C156.333 91.7307 156.338 91.7169 156.34 91.7025C156.342 91.6882 156.341 91.6735 156.338 91.6595C156.334 91.6454 156.328 91.6321 156.319 91.6205C156.311 91.6089 156.3 91.599 156.287 91.5916C156.275 91.5841 156.261 91.5792 156.247 91.5771C156.232 91.575 156.218 91.5757 156.204 91.5793C156.19 91.5828 156.176 91.5891 156.165 91.5977L154.896 92.5404C154.881 92.5513 154.869 92.5657 154.861 92.5824C154.854 92.599 154.85 92.6173 154.851 92.6356C154.852 92.6539 154.858 92.6717 154.868 92.6873C154.877 92.7029 154.891 92.7159 154.907 92.725L156.226 93.4812C156.251 93.4955 156.28 93.4996 156.308 93.4925Z"
                    fill="#6366F1"></path>
                <path
                    d="M158.191 94.1296C158.202 94.1269 158.212 94.1226 158.221 94.1168C158.234 94.1092 158.244 94.0993 158.253 94.0876C158.262 94.0759 158.268 94.0626 158.271 94.0485C158.275 94.0344 158.275 94.0197 158.273 94.0054C158.271 93.991 158.266 93.9772 158.258 93.9648L156.455 90.9997C156.439 90.9747 156.415 90.9567 156.386 90.9498C156.358 90.943 156.328 90.9477 156.303 90.9629C156.278 90.9782 156.26 91.0027 156.253 91.0312C156.246 91.0597 156.251 91.0897 156.266 91.1148L158.069 94.0799C158.082 94.1001 158.1 94.1158 158.122 94.1247C158.144 94.1337 158.168 94.1354 158.191 94.1296Z"
                    fill="#6366F1"></path>
                <path
                    d="M56.7984 58.4048H47.0259C46.6273 58.4048 46.3041 58.728 46.3041 59.1267V60.0814C46.3041 60.4801 46.6273 60.8033 47.0259 60.8033H56.7984C57.1971 60.8033 57.5203 60.4801 57.5203 60.0814V59.1267C57.5203 58.728 57.1971 58.4048 56.7984 58.4048Z"
                    fill="#6366F1"></path>
                <path
                    d="M62.4947 63.2016H41.3295C40.9309 63.2016 40.6077 63.5248 40.6077 63.9235V64.8782C40.6077 65.2769 40.9309 65.6001 41.3295 65.6001H62.4947C62.8933 65.6001 63.2165 65.2769 63.2165 64.8782V63.9235C63.2165 63.5248 62.8933 63.2016 62.4947 63.2016Z"
                    fill="#E4E4E7"></path>
                <path
                    d="M62.4947 67.9986H41.3295C40.9309 67.9986 40.6077 68.3218 40.6077 68.7205V69.6752C40.6077 70.0739 40.9309 70.3971 41.3295 70.3971H62.4947C62.8933 70.3971 63.2165 70.0739 63.2165 69.6752V68.7205C63.2165 68.3218 62.8933 67.9986 62.4947 67.9986Z"
                    fill="#E4E4E7"></path>
                <path
                    d="M64.2888 84.0616L64.3367 84.213L64.3393 84.218L65.7823 88.6051L67.4422 93.6606L70.5654 103.161L70.5956 104.637V104.642L70.8277 116.514L70.1844 118.124L70.9085 120.762C70.9085 120.762 70.5755 116.774 68.7894 119.064C67.7778 120.366 66.5946 121.698 65.6233 122.947C67.0386 123.519 68.4766 124.037 69.9372 124.501C70.2526 124.602 70.5704 124.697 70.8883 124.793C70.9564 124.813 71.0245 124.834 71.0926 124.854C75.9345 126.286 80.9401 127.09 85.9868 127.248C86.2492 127.256 86.5065 127.261 86.7563 127.266C86.8446 127.268 86.9303 127.271 87.0161 127.271C87.2987 127.273 87.5787 127.276 87.8612 127.276C88.4314 127.276 88.999 127.267 89.5641 127.25C93.7466 127.133 97.9047 126.57 101.968 125.573C101.941 123.895 101.865 121.935 101.756 119.841C101.706 118.814 100.573 117.702 100.505 116.627C100.457 115.82 101.474 115.061 101.421 114.241C101.078 109.193 100.649 111.131 100.331 107.556C100.298 107.205 100.268 106.87 100.24 106.549C100.036 104.254 99.8946 102.818 99.8946 102.818L101.252 94.2636L103.384 80.8325L103.22 80.5626L103.035 80.4718L91.7916 74.9066L91.1811 73.3426C91.0032 72.8919 90.6946 72.5049 90.295 72.2311C89.8953 71.9573 89.4229 71.8093 88.9384 71.8062L81.5317 71.7759C81.1473 71.7742 80.768 71.8642 80.4254 72.0383C80.0827 72.2125 79.7866 72.4659 79.5614 72.7775L77.5559 75.555L64.2888 84.0616Z"
                    fill="#52525B"></path>
                <path
                    d="M72.2732 101.047L70.5956 104.637L69.4503 107.089L67.48 117.405L66.4936 118.451L65.6485 114.745L56.8033 116.709C56.5132 115.097 56.7256 116.764 56.5465 114.995C56.597 114.945 56.6499 114.894 56.7029 114.844C56.8442 114.713 56.9628 114.589 56.9602 114.471C56.8593 108.371 57.1621 97.9896 59.6898 91.7005C60.0857 90.6736 60.6077 89.6999 61.2438 88.8018C61.2943 88.7337 61.3422 88.6656 61.3902 88.5975C62.5557 86.9653 63.2923 85.3583 64.3367 84.2155V84.213C64.3432 84.2078 64.3491 84.2018 64.3544 84.1953C64.3582 84.1934 64.3616 84.1909 64.3644 84.1878L71.5391 80.3835L71.8469 89.0314L72.0664 95.2474L72.2732 101.047Z"
                    fill="#52525B"></path>
                <path
                    d="M98.1438 102.067L100.239 106.55L100.971 108.112L102.94 118.426L103.924 119.471L104.771 115.765L105.169 115.684L112.347 114.197L114.439 120.842C114.91 120.056 115.096 119.132 114.965 118.225C114.833 117.318 114.393 116.484 113.718 115.865C113.575 115.735 113.456 115.61 113.459 115.491C113.578 108.316 113.139 95.2153 109.176 89.8233C107.917 88.1122 107.162 86.4078 106.063 85.2172C106.06 85.2138 106.06 85.2104 106.057 85.2104L103.383 80.8322L103.219 80.5634L103.036 80.4716L98.1438 102.067Z"
                    fill="#52525B"></path>
                <path
                    d="M85.449 69.668C90.8911 69.668 95.3027 65.2563 95.3027 59.8143C95.3027 54.3722 90.8911 49.9605 85.449 49.9605C80.0069 49.9605 75.5952 54.3722 75.5952 59.8143C75.5952 65.2563 80.0069 69.668 85.449 69.668Z"
                    fill="#FECACA"></path>
                <path
                    d="M98.7676 52.9314C98.6913 52.8498 98.5992 52.7845 98.497 52.7392C98.3948 52.694 98.2845 52.6699 98.1728 52.6683L98.3209 52.2569C98.3693 52.1274 98.3823 51.9873 98.3587 51.851C98.3351 51.7147 98.2757 51.5872 98.1866 51.4814C98.0975 51.3757 97.9819 51.2955 97.8516 51.2492C97.7213 51.2028 97.5811 51.1919 97.4452 51.2176L96.9056 51.3215L96.9565 50.961C96.976 50.8268 96.9602 50.6898 96.9107 50.5635C96.8612 50.4372 96.7796 50.3259 96.6741 50.2407C96.5686 50.1554 96.4427 50.0991 96.3088 50.0773C96.1749 50.0555 96.0376 50.0689 95.9105 50.1163C95.7948 50.1618 95.6704 50.1808 95.5464 50.172C95.4224 50.1632 95.302 50.1268 95.1939 50.0654C95.0854 50.0059 94.9912 49.9234 94.9179 49.8237C94.8446 49.724 94.7939 49.6095 94.7693 49.4882L94.5814 48.5815L94.5615 48.5329C93.6459 47.007 91.8856 45.8968 89.7317 45.4899C87.8144 45.125 85.8484 45.3108 83.9532 45.4855C83.2013 45.5563 82.3521 45.6359 81.6445 46.0693C81.043 46.4408 80.5344 47.1839 80.6383 47.9336C78.7696 47.3608 76.7661 48.5041 75.7731 49.946C74.5966 51.662 74.4043 53.8116 74.3733 55.4922C74.2893 59.4684 75.1097 62.7214 76.8059 65.1628C76.9297 65.3398 76.9607 65.7091 77.2061 65.8329L77.1553 65.7511C77.4295 65.8882 77.7081 66.1093 77.6042 66.346C77.3056 67.0271 79.2893 68.5331 80.6869 69.0306C83.2367 69.9395 86.6269 69.8621 89.0108 69.5348L89.0948 68.9709C89.9551 68.8537 90.561 68.6304 90.7313 68.281C91.032 68.0244 91.2886 67.7944 91.5119 67.5821L91.5141 67.5799C91.5185 67.5755 91.5274 67.5689 91.5318 67.5645C92.6088 66.5317 92.8587 65.9435 92.9715 65.0479C93.0798 64.1699 92.8874 63.2787 92.6906 62.476C96.8348 63.1173 91.0586 58.0619 94.9197 57.0845C94.964 57.0708 95.0091 57.0598 95.0546 57.0513C95.1674 57.0248 95.2802 56.9982 95.3885 56.9673C95.9109 56.8255 96.411 56.6119 96.8746 56.3326C97.9538 55.6758 98.3099 54.8045 98.8671 53.8226C98.9476 53.6828 98.9813 53.521 98.9634 53.3607C98.9455 53.2004 98.8769 53.05 98.7676 52.9314Z"
                    fill="#3F3F46"></path>
                <path
                    d="M120.3 102.768C120.298 103.155 120.294 103.697 120.276 104.367C120.274 104.46 120.272 104.555 120.269 104.652C120.241 105.884 120.212 106.917 120.165 108.065C120.163 108.144 120.161 108.222 120.157 108.301C120.095 109.902 119.997 111.767 119.829 114.719C119.517 120.172 118.973 115.469 118.427 117.381C118.401 117.477 118.372 117.589 118.345 117.722C118.263 118.203 118.123 118.673 117.93 119.122C117.64 119.294 117.341 119.46 117.047 119.626C116.209 120.093 115.358 120.542 114.5 120.968C114.018 121.207 113.533 121.442 113.047 121.667C112.969 121.703 112.894 121.738 112.819 121.771C110.328 122.924 107.76 123.903 105.134 124.704C104.621 124.858 104.11 125.009 103.593 125.148C103.053 125.298 102.514 125.44 101.968 125.573C97.9041 126.57 93.746 127.133 89.5636 127.251C88.9997 127.269 88.4313 127.275 87.8608 127.275C87.5777 127.275 87.2991 127.273 87.016 127.271C86.9298 127.271 86.8435 127.269 86.7573 127.267C86.5074 127.26 86.2487 127.256 85.9877 127.249C80.941 127.091 75.9354 126.287 71.0937 124.854L70.8881 124.794C70.5696 124.697 70.2534 124.602 69.9371 124.5C68.4776 124.038 67.0394 123.52 65.6226 122.948C64.5412 122.512 63.4724 122.045 62.4161 121.546C62.4064 121.543 62.3974 121.538 62.3895 121.532C62.1684 121.431 61.945 121.324 61.7239 121.216C61.6951 121.201 61.6642 121.185 61.6332 121.17C60.8083 120.767 59.9923 120.346 59.1852 119.905C58.5063 118.346 57.5509 118.047 56.9582 116.676C56.7858 116.269 56.6611 115.843 56.5867 115.407C56.5867 115.402 56.5845 115.398 56.5845 115.391C56.6464 116.214 56.3214 113.932 56.5823 115.382C56.5801 115.356 56.5779 115.327 56.5757 115.294C56.569 115.214 56.5602 115.117 56.5469 114.995C55.7884 107.589 55.8371 99.1195 55.5076 92.1402C55.4854 91.689 55.4626 91.2571 55.439 90.8443C55.4324 90.7072 55.4235 90.5723 55.4147 90.4396C55.4302 90.3998 55.4478 90.3578 55.4677 90.3179C55.472 90.3065 55.4772 90.2954 55.4832 90.2848C55.4897 90.2711 55.4971 90.2578 55.5053 90.245C55.5098 90.2383 55.5164 90.2295 55.5208 90.2229C55.5241 90.2153 55.5277 90.2079 55.5319 90.2008C55.5518 90.1698 55.5739 90.1366 55.5982 90.1057C55.6093 90.0924 55.6181 90.0813 55.6292 90.0703C55.6368 90.059 55.6457 90.0486 55.6557 90.0393C55.6625 90.0287 55.6707 90.019 55.68 90.0106C55.6889 90.0017 55.6977 89.9907 55.7088 89.9796C55.7135 89.9727 55.7195 89.9667 55.7265 89.9619C55.744 89.9418 55.7632 89.9233 55.784 89.9066C55.8629 89.834 55.9472 89.7675 56.0361 89.7076C56.067 89.6877 56.1002 89.6678 56.1312 89.6457C56.354 89.5124 56.5887 89.3998 56.8322 89.3095C56.9162 89.2786 57.0003 89.2498 57.0909 89.2189C57.1241 89.21 57.1551 89.199 57.1882 89.1879C57.2369 89.1724 57.2855 89.157 57.3364 89.1459C57.5885 89.0707 57.8605 89.0066 58.1546 88.9469C58.19 88.9402 58.2276 88.9336 58.2652 88.9248C58.3183 88.9137 58.3736 88.9049 58.4289 88.896C58.504 88.8827 58.5814 88.8695 58.6588 88.8562C59.3156 88.7523 60.0609 88.6749 60.8835 88.624C60.9609 88.6196 61.0383 88.6152 61.1157 88.6107C61.2064 88.6063 61.2971 88.6019 61.39 88.5975C61.4674 88.5931 61.547 88.5908 61.6266 88.5886C61.704 88.5842 61.7836 88.582 61.8654 88.5798C62.0888 88.5731 62.3188 88.5665 62.5532 88.5621C63.221 88.5488 63.9243 88.5532 64.6629 88.5687C65.0057 88.5776 65.3551 88.5864 65.7133 88.6019C65.7376 88.6019 65.7598 88.6041 65.7819 88.6041C66.0937 88.6152 66.4077 88.6284 66.7306 88.6461C66.9561 88.6572 67.1839 88.6682 67.4117 88.6815C67.6262 88.6948 67.8429 88.708 68.0618 88.7235C68.2321 88.7324 68.4024 88.7456 68.5749 88.7567C68.7208 88.7677 68.8668 88.7788 69.0128 88.7877L69.2118 88.8009C69.3201 88.8098 69.4285 88.8164 69.5391 88.8275C69.7823 88.8474 70.0256 88.8673 70.2733 88.8872C70.5187 88.9093 70.7686 88.9314 71.0185 88.9535C71.2684 88.9756 71.5205 89 71.7726 89.0243C71.7992 89.0265 71.8235 89.0287 71.8478 89.0309C72.0778 89.0552 72.3078 89.0773 72.54 89.1017C72.5931 89.1061 72.6483 89.1105 72.7014 89.1172C72.9228 89.1394 73.1485 89.1654 73.3719 89.1892C73.4405 89.1966 73.5087 89.2037 73.5775 89.2113C73.7525 89.2303 73.925 89.2468 74.1012 89.2675C74.3334 89.2941 74.5701 89.3184 74.8001 89.3494C74.9792 89.3693 75.1583 89.3892 75.3374 89.4113C75.6183 89.4445 75.9036 89.4798 76.1888 89.5174C76.2972 89.5307 76.4056 89.544 76.5139 89.5594C77.3277 89.6612 78.1504 89.774 78.9863 89.8912C80.2534 90.0703 81.5405 90.2649 82.8364 90.475C84.1345 90.6851 85.44 90.9069 86.7528 91.1406C87.0846 91.2003 87.4163 91.26 87.7502 91.3219C87.9006 91.3507 88.0509 91.3794 88.2013 91.4082C88.4578 91.4546 88.7144 91.5033 88.9709 91.5519C89.2274 91.6006 89.484 91.6492 89.7405 91.7001C90.0457 91.7598 90.353 91.8195 90.6582 91.8792C92.6684 92.2773 94.6675 92.7019 96.618 93.1464C96.9387 93.2193 97.2594 93.2945 97.5778 93.3675C98.2147 93.5157 98.8457 93.6661 99.4708 93.8187C99.6433 93.8585 99.8136 93.9005 99.9838 93.9425C100.408 94.0486 100.833 94.1548 101.251 94.2632L101.324 94.283C101.631 94.3582 101.932 94.4356 102.233 94.5153C102.943 94.701 103.641 94.889 104.327 95.0792C104.783 95.2052 105.233 95.3327 105.678 95.4617C106.344 95.6541 106.996 95.8488 107.631 96.0456C107.788 96.0942 107.945 96.1429 108.1 96.1893C108.564 96.333 109.022 96.479 109.466 96.625C109.82 96.74 110.165 96.8572 110.506 96.9744C110.846 97.0916 111.18 97.2088 111.508 97.326C111.718 97.4012 111.926 97.4808 112.133 97.556C112.432 97.6666 112.726 97.7771 113.014 97.8877C113.102 97.9209 113.188 97.9562 113.275 97.9894C113.33 98.0137 113.383 98.0336 113.436 98.0558C113.54 98.0978 113.646 98.1376 113.748 98.1796C113.852 98.2194 113.953 98.2614 114.055 98.3056C114.155 98.3455 114.256 98.3875 114.354 98.4295C114.453 98.4693 114.551 98.5113 114.648 98.5555C114.73 98.5887 114.809 98.6241 114.887 98.6595C115.044 98.728 115.201 98.7966 115.353 98.8674C115.428 98.9027 115.504 98.9359 115.579 98.9713L115.751 99.0509C115.776 99.0642 115.8 99.0752 115.824 99.0863C115.88 99.1128 115.937 99.1416 115.992 99.1681C116.121 99.2278 116.247 99.292 116.371 99.3517C116.536 99.4357 116.698 99.5197 116.853 99.6016C117.01 99.6856 117.162 99.7696 117.308 99.8514C117.333 99.8647 117.355 99.878 117.379 99.8913C117.412 99.9089 117.445 99.9288 117.478 99.9465C117.591 100.011 117.7 100.077 117.808 100.141C118.02 100.272 118.222 100.4 118.409 100.528C118.451 100.557 118.491 100.586 118.533 100.612C118.673 100.712 118.805 100.809 118.929 100.908C118.929 100.911 118.929 100.911 118.931 100.911C118.973 100.942 119.013 100.975 119.053 101.006C119.086 101.037 119.122 101.063 119.155 101.094C119.27 101.194 119.376 101.289 119.473 101.386C119.506 101.416 119.537 101.448 119.566 101.481C119.579 101.492 119.591 101.504 119.601 101.517C119.646 101.561 119.685 101.605 119.723 101.649C119.729 101.655 119.734 101.662 119.739 101.669C119.792 101.731 119.84 101.793 119.887 101.855C119.909 101.886 119.933 101.917 119.953 101.948C119.98 101.985 120.006 102.025 120.028 102.063C120.048 102.094 120.066 102.127 120.084 102.158C120.13 102.238 120.17 102.321 120.203 102.408C120.228 102.467 120.248 102.527 120.263 102.589C120.279 102.648 120.292 102.708 120.3 102.768Z"
                    fill="#3F3F46"></path>
                <path
                    opacity="0.2"
                    d="M120.3 102.768C120.298 103.155 120.294 103.697 120.276 104.367C120.274 104.46 120.269 104.555 120.267 104.652C120.245 105.592 120.212 106.753 120.165 108.065C120.163 108.144 120.161 108.222 120.157 108.301C120.095 109.902 119.997 111.767 119.829 114.719C119.517 120.172 118.973 115.469 118.427 117.381C116.91 116.448 115.247 115.471 113.469 114.467C113.149 114.285 112.825 114.103 112.498 113.921C108.942 111.937 104.971 109.858 100.824 107.799C100.661 107.717 100.495 107.636 100.331 107.556C90.8329 102.861 80.4657 98.2945 72.0667 95.2472C70.4457 94.6589 68.8977 94.1282 67.4426 93.6616C64.3775 92.6819 61.7282 91.9964 59.6893 91.7C57.5663 91.3904 56.1001 91.501 55.5075 92.1401C55.4853 91.689 55.4625 91.257 55.4389 90.8442C55.43 90.7071 55.4212 90.5722 55.4124 90.4395C55.426 90.4031 55.4437 90.3684 55.4609 90.3333C55.4634 90.3282 55.4651 90.3229 55.4676 90.3179C55.4719 90.3064 55.4771 90.2953 55.4831 90.2847C55.4896 90.271 55.497 90.2577 55.5052 90.2449C55.5124 90.2292 55.5213 90.2144 55.5318 90.2007C55.5517 90.1697 55.5738 90.1365 55.5981 90.1056C55.616 90.0824 55.6352 90.0602 55.6556 90.0392C55.6624 90.0286 55.6706 90.0189 55.6799 90.0105C55.6888 90.0016 55.6976 89.9906 55.7087 89.9795C55.7134 89.9726 55.7194 89.9666 55.7264 89.9618C55.7439 89.9418 55.7631 89.9233 55.7839 89.9066C55.8628 89.834 55.9471 89.7674 56.036 89.7075C56.0669 89.6876 56.1001 89.6677 56.1311 89.6456C56.3539 89.5123 56.5886 89.3998 56.8321 89.3095C56.9161 89.2785 57.0002 89.2498 57.0908 89.2188C57.124 89.2099 57.155 89.1989 57.1881 89.1878C57.2368 89.1724 57.2854 89.1569 57.3363 89.1458C57.5884 89.0706 57.8604 89.0065 58.1545 88.9468C58.243 88.9291 58.3359 88.9114 58.4288 88.8959C58.5039 88.8827 58.5813 88.8694 58.6587 88.8561C59.3155 88.7522 60.0608 88.6748 60.8834 88.6239C60.9608 88.6195 61.0382 88.6151 61.1156 88.6107C61.2063 88.6062 61.297 88.6018 61.3899 88.5974C61.4673 88.593 61.5469 88.5908 61.6265 88.5885C61.7039 88.5841 61.7835 88.5819 61.8653 88.5797C62.0887 88.5731 62.3187 88.5664 62.5531 88.562C63.2209 88.5509 63.9242 88.5554 64.6628 88.5708C65.0056 88.5775 65.355 88.5885 65.7132 88.604C65.7353 88.604 65.7597 88.6062 65.7818 88.6062C66.0936 88.6151 66.4098 88.6306 66.7305 88.646C66.956 88.6571 67.1838 88.6682 67.4116 88.6814C67.6261 88.6947 67.8428 88.708 68.0618 88.7234C68.232 88.7323 68.4023 88.7456 68.5748 88.7566C68.7208 88.7677 68.8667 88.7787 69.0127 88.7876C69.1874 88.8008 69.3621 88.8141 69.539 88.8274C69.7823 88.8473 70.0255 88.8672 70.2732 88.8871C70.5187 88.9092 70.7686 88.9313 71.0184 88.9534C71.2683 88.9755 71.5204 88.9999 71.7725 89.0242C71.7991 89.0264 71.8234 89.0286 71.8477 89.0308C72.0777 89.0552 72.3077 89.0773 72.5399 89.1016C73.827 89.2321 75.1516 89.3847 76.5139 89.5594C77.3277 89.6633 78.1518 89.7746 78.9862 89.8933C80.2534 90.0724 81.5405 90.267 82.8364 90.4749C84.1345 90.685 85.44 90.9069 86.7528 91.1405C87.0845 91.2002 87.4162 91.26 87.7502 91.3219C88.1571 91.3971 88.564 91.4737 88.9709 91.5519C89.2274 91.6005 89.4839 91.6492 89.7405 91.7C90.0456 91.7597 90.353 91.8194 90.6582 91.8792C92.6684 92.2772 94.6675 92.7018 96.618 93.1463C96.9387 93.2193 97.2593 93.2945 97.5778 93.3674C98.2147 93.5156 98.8457 93.666 99.4708 93.8186C99.6433 93.8606 99.8135 93.9026 99.9838 93.9446C100.411 94.0508 100.833 94.1569 101.251 94.2631V94.2653C101.275 94.2697 101.3 94.2764 101.324 94.283C101.629 94.3604 101.932 94.4378 102.233 94.5174C102.943 94.7032 103.641 94.8904 104.327 95.0791C104.783 95.2073 105.234 95.3334 105.678 95.4617C106.344 95.6563 106.996 95.8509 107.631 96.0455C107.788 96.0941 107.945 96.1428 108.1 96.1892C108.564 96.3352 109.02 96.4804 109.466 96.6249C109.82 96.7399 110.165 96.8571 110.506 96.9743C110.846 97.0915 111.18 97.2087 111.508 97.3259C111.72 97.4011 111.928 97.4785 112.133 97.5537C112.434 97.6643 112.726 97.7748 113.014 97.8876C113.102 97.9208 113.188 97.9562 113.275 97.9894C113.436 98.0513 113.593 98.1154 113.748 98.1795C113.852 98.2193 113.953 98.2614 114.055 98.3056C114.155 98.3454 114.256 98.3874 114.354 98.4294C114.453 98.4692 114.551 98.5112 114.648 98.5555C114.73 98.5886 114.809 98.624 114.887 98.6594C115.044 98.728 115.201 98.7965 115.353 98.8673C115.428 98.9027 115.504 98.9358 115.579 98.9712L115.751 99.0508C115.776 99.0641 115.8 99.0752 115.824 99.0862C116.012 99.1747 116.194 99.2631 116.371 99.3516C116.536 99.4356 116.698 99.5197 116.853 99.6015C117.036 99.6988 117.211 99.7939 117.379 99.8912C117.412 99.9089 117.445 99.9288 117.478 99.9465C117.591 100.011 117.7 100.077 117.808 100.141C118.02 100.272 118.222 100.4 118.41 100.528C118.595 100.656 118.768 100.782 118.929 100.908C118.929 100.911 118.929 100.911 118.931 100.911C119.009 100.973 119.084 101.034 119.155 101.094C119.27 101.194 119.376 101.289 119.473 101.386C119.506 101.416 119.537 101.448 119.566 101.481C119.579 101.492 119.591 101.504 119.601 101.517C119.648 101.567 119.694 101.618 119.739 101.669C119.792 101.731 119.84 101.793 119.887 101.855C119.909 101.886 119.933 101.917 119.953 101.948C119.98 101.985 120.006 102.025 120.028 102.063C120.048 102.094 120.066 102.127 120.084 102.158C120.131 102.238 120.17 102.321 120.203 102.408C120.227 102.467 120.247 102.527 120.263 102.589C120.279 102.648 120.292 102.708 120.3 102.768Z"
                    fill="#09090B"></path>
            </g>
            <defs>
                <clipPath id="clip0_358_852">
                    <rect
                        width="100%"
                        height="100%"
                        fill="white"
                        transform="translate(0 0.724487)"></rect>
                </clipPath>
            </defs>
        </svg>
    </div>
</div>
