---
interface Props {
    label: string;
    url: string;
    target?: '_blank' | '_self' | '_parent' | '_top';
}

const { label, url, target } = Astro.props;
---

<a
    href={url}
    target={target}
    rel="noopener noreferrer"
    class="inline-block rounded-md border bg-surface-2 px-3 py-1 text-zinc-100 no-underline duration-300 ease-in-out hover:border-primary hover:bg-primary hover:text-zinc-100"
>
    <span>{label}</span>
    <slot />
</a>
