---
import { ArrowRight } from '@phosphor-icons/react';
import type { CollectionEntry } from 'astro:content';

import LinkButton from './LinkButton.astro';
import Text from './Text.astro';

interface Props {
    project: CollectionEntry<'projects'>;
}

const { project } = Astro.props;
---

<div class="rounded-md border bg-surface-1 p-4 md:p-6">
    <Text class="pt-0 md:pt-0" variant="h4">
        {project.data.name}
    </Text>
    <Text>{project.data.description}</Text>
    <div
        class="flex flex-col justify-between gap-4 pt-4 lg:flex-row lg:items-center lg:gap-0"
    >
        {
            project.data.github && (
                <div>
                    <a href={project.data.github} target="_blank">
                        <img
                            src={`https://img.shields.io/github/stars/${project.data.github?.split('github.com/')[1]}.svg`}
                            alt="Project Link"
                            class="h-6 w-auto"
                        />
                    </a>
                </div>
            )
        }
        <div>
            <LinkButton
                label="View Project"
                url={project.data.url}
                target="_blank"
            >
                <ArrowRight className="relative top-[-1px] inline" />
            </LinkButton>
        </div>
    </div>
</div>
