---
import type { CollectionEntry } from 'astro:content';

import ProjectCard from './ProjectCard.astro';

interface Props {
    projects: Array<CollectionEntry<'projects'>>;
}

const { projects } = Astro.props;
---

<div class="grid grid-cols-2 gap-6">
    {projects.map((project) => <ProjectCard project={project} />)}
</div>
