---
import { ArrowRight } from '@phosphor-icons/react';
import type { CollectionEntry } from 'astro:content';
import Text from './Text.astro';
import LinkButton from './LinkButton.astro';

interface Props {
    projects: Array<CollectionEntry<'projects'>>;
}

const { projects } = Astro.props;
---

<div class="grid grid-cols-2 gap-6">
    {
        projects.map((project) => (
            <div class="rounded-md border border-surface-2 bg-surface-1 p-6">
                <Text class="pt-0" variant="h6">
                    {project.data.name}
                </Text>
                <Text>{project.data.description}</Text>
                <div class="flex items-center justify-between pt-4">
                    {project.data.github && (
                        <div>
                            <a href={project.data.github} target="_blank">
                                <img
                                    src={`https://img.shields.io/github/stars/${project.data.github?.split('github.com/')[1]}.svg`}
                                    alt="Project Link"
                                    class="h-6 w-auto"
                                />
                            </a>
                        </div>
                    )}
                    <div>
                        <LinkButton
                            label="View Project"
                            url={project.data.url}
                            target="_blank"
                        >
                            <ArrowRight className="inline relative top-[-1px]" />
                        </LinkButton>
                    </div>
                </div>
            </div>
        ))
    }
</div>
